:root {
    --default-black: #000;
    --default-white: #fff;
    --transparent: rgb(255 255 255 / 0%);
    --persian-red: #ce3829;
    --dark-red: #a32c21;
    --endeavour: #19619f;
    --picton-blue: #3d95e1;
    --terra-cotta: rgb(238 107 94);
    --gallery: #dfd8d1;
    --lynch: #6a767f;
    --cloudy: #a8a29c;
    --night-rider: #2f2f2f;
    --seashell: #fbf8f6;
    --sea-green: #219653;
    --midnight: #142b4f;
    --error-color: #f00;
    --athens-gray: #edeef2;
    --gray: #455672;
    --main-background: var(--gallery);
    --main-dark-background: var(--midnight);
    --header-filled-bottom-border-color: #829eba;
    --logo-border-color: #164677;
    --black-to-right: linear-gradient(90deg, rgb(0 0 0 / 75%) 0%, rgb(0 0 0 / 0%) 75%);
    --font-family-prata: "Prata", "Times", serif;
    --font-family-noto: "Noto Sans", "Arial", sans-serif;
    --font-family-source: "Source Code Pro", "Arial", sans-serif;
    --transform-scale: scale(1.1);
    --transform-translate: translateY(-10px);
    --default-transition-settings: .3s ease;
    --max-width: 1920px;
    --retina-dpi: 144dpi;
    --retina-dppx: 1.5dppx;
    --modal-transition-settings: .6s cubic-bezier(.55, 0, .1, 1);
    --content-side-padding: 60px;
    --header-height: 115px;
    --card-border-radius: 0 0 10px 10px;
    --card-shadow: 0 20px 20px 0 #6a595926;
    --shadow: 0 11px 7px 0 #6a595926;
    --page-top-padding: 216px;
    --page-bottom-padding: 60px;
    --page-padding: var(--page-top-padding) var(--content-side-padding) var(--page-bottom-padding);
    --modal-background: rgb(20 43 79 / 95%);
    --running-string-height: 80px;
    --tablet-max-width-breakpoint: 1300px;
    --grid-cards: repeat(3, 1fr);
    --root-section-grid-cards: repeat(3, 1fr);
    --article-top-padding: 265px;
    --root-section-title: 140px;
    --fun-green: #186c3c;
    --max-large-root-section-height: calc(100vh - var(--header-height));
    --max-medium-root-section-height: calc(100vh - var(--header-height));
    --h2-title-font-size: 70px;
    --h3-title-font-size: 46px;
    --h4-title-font-size: 26px;
    --live-widget-year-color: #f09f26;
    --loading-background: rgb(255 255 255 / 50%);
    --p-font: normal normal 400 20px/28px Noto Sans;
    --ps-font: normal normal 400 20px/24px Noto Sans;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    --font-family: "Georgia", sans-serif;
}

.hero {
    position: relative;
    background-color: var(--main-background);
    z-index: 1;
    min-height: 100vh;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero__container {
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    background-color: var(--midnight);
    border: 1px solid var(--logo-border-color);
    padding: 25px 29px;
    max-height: 162px;
}


.nav {
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 162px;
}

.nav__item {
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    color: var(--midnight);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    white-space: nowrap;
    transition: color var(--default-transition-settings);
    transition-delay: 100ms;
}

.nav__link:hover {
    color: var(--persian-red);
}

.hero__content {
    position: relative;
}

.hero__desc {
    font-weight: 400;
    letter-spacing: -.02em;
    margin-bottom: 20px;
    padding-left: 143.19px;
}

.title {
    font-size: 150px;
    font-weight: 400;
    font-family: var(--font-family-prata);
}

.title__span {
    display: block;
    transform: translateX(350px);
}

.desc__foot {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
}

.hero__btn-wrap {
}

.btn {
}

.hero__btn {
}

.paragraph {
}

.hero__paragraph {
}

.label {
}

.hero__label {
    position: absolute;
    top: 120px;
    left: 150px;
    background-color: var(--persian-red);
    color: var(--default-white);
    padding: 50px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    z-index: -1;
}

.label__paragraph {
    transform: rotate(-15deg);
}

.hero__img-wrap1 {
    position: absolute;
    top: 200px;
    left: -300px;

    width: 450px;
    opacity: 0.5;
    transform: rotate(10deg);
}


.hero__img-wrap2 {
    position: absolute;
    top: -70px;
    left: 600px;
    z-index: -1;

    width: 250px;
    opacity: 0.5;
    transform: rotate(-10deg);
}

.hero__img-wrap3 {
    position: absolute;
    top: -70px;
    left: 800px;
    z-index: -1;

    width: 200px;
    transform: rotate(7deg);
}

.hero__img-wrap4 {
    position: absolute;
    top: 100px;
    right: -500px;
    z-index: -1;

    width: 400px;
    opacity: 0.5;
    transform: rotate(7deg);
}

.hero__img-wrap5 {
    /* position: absolute;
    top: 120px;
    left: -500px;
    z-index: -1;
    
    width: 400px;
    opacity: 0.5;
    transform: rotate(-7deg); */
}

.hero__img {
}